@import url('https://fonts.googleapis.com/css2? family = Titillium + Web: wght @ 400; 700 & display = swap');

:root{
    --background: #000000 ;
    --red: #C20000;
    --blue: #001F70;
    --gradient: Linear-gradient( #000000  0%, rgba(83, 83, 83, 0.5774) 25%,rgba(196, 196, 196, 0) 87.5%);

    --font:'Titillium Web', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    height: 80px;
    font-size: 16px;
    background-color: black;
    font-family: var(--font);
   
}

.header-top{
    font-size: 40px;
    width: 1366px;
    height: 2em;
    background-color:black;
}

.content{
    width: 90%;
    max-width: 75em;
    height: 100%;
    /*background-color: aqua;*/
    margin: auto;
}

.flex-spbt-center{
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.header-top img{
    width: 70%;
    max-width: 21.18em;
}

.menu{
   width: 100%;
   max-width: 50em;
   height: 50;
}

.menu ul{
    list-style-type: none;
    padding-left: 08px;
}

.menu a{
    color: white;
    font-size: 16px;
    text-decoration:none;
    text-transform:uppercase;
    padding:10px 50px;  
    justify-content: flex-end;
}

.menu a:hover{
    background-color: var(--red);
    text-shadow: 0 0 20px white;
    text-decoration: underline;
}

.banner{
    position: relative;
}

.banner-container{
    width: 100%;
    height: 37.5em;
    /*background-color: rgba(127, 255, 212, 0.308);*/
    position: absolute;
    top: 0%;
}

.banner-content{
    width: 95%;
    height: 100%;
    /*background-color: rgba(210, 105, 30, 0.404);*/
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.banner-text{
    width: 50%;
    height: 100%;
    /*background-color: cornflowerblue;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.banner-text h1{
    font-size: 4.62em;
}

.banner-text p{
    font-size: 1.60em;
    margin-top: 0.8em;
}

.banner-text a{
    color: white;
    font-size: 1.87em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--red);
    padding: 0.5em 1.2em;
    border-radius: 0.75em;
    margin-top: 2em;
}

.games{
    width: 100%;
    height: 7.5em;
    /*background-color: crimson;*/
   
}
.games ul{
    width: 100%;
    /*background-color: yellow;*/
    list-style-type: none;
}

.games img{
    width: 170px;
}

.games ul a:hover img{
    /*width: 230px;*/
    transition: 0.5s;
    transform: scale(1.2);
}


/*até 1199px*/
@media screen and (max-width: 74.93em){

}

/*até 991*/
@media screen and (max-width: 61.93em){

}

/*até 767*/
@media screen and (max-width:47.93em){
    
}

/*até 576*/
@media screen and (max-width: 36em){
    
}

